.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h5 {
        text-align: center;
        font-family: Josefin Sans, serif;

    }
}

.buttonContainer {
    margin: auto;
}

.placeholder {
    height: 200px;
    border: 1px solid gainsboro;
    margin: 1rem;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}