.header {
    background: #f0f0f0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    h4 {
        margin: 1rem 0 1rem 0;
    }
}

.top,
.bottom {
    display: flex;
    align-items: center;

    .border,
    .noBorder {
        padding-bottom: 1rem;
        margin-bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }

    .border {
        border-bottom: 8px solid var(--primary-accent);
        transform: var(--transition);
    }

    .noBorder {
        border-bottom: 8px solid #f0f0f0;
        transform: var(--transition);
    }
}

.bottom {
    justify-content: space-around;
    width: 100%;
}

img {
    height: 3rem;
    width: 3rem;
    padding-right: 1rem;
}