.main {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.top {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

