.main {
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.disabled {
    background: gray;
    cursor: wait;
}

.buttonContainer {
    border: 1px solid red;
    float: right;
    padding: 1rem 2rem;
}

