.buttonContainer {
    margin: auto;
}

.placeholder {
    height: 200px;
    border: 1px solid gainsboro;
    margin: 1rem;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}