abbr[title] {
  text-decoration: none;
  font-size: 12px;
  color: #2f2f2f;
}

.DayPicker {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 2px 4px #e6e6e6;
  border-radius: 5px;
}

.DayPicker-Caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: center;
  font-size: 15px;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-user-select: none;
  user-select: none;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: 1em;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5em;
  color: #8b9898;
  text-align: center;
  font-size: 0.875em;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Day {
  display: table-cell;
  padding: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  width: 32px;
  height: 32px;
}

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700;
}

.DayPicker-Day--outside {
  color: #8b9898;
  cursor: default;
}

.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: 1em;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
  background-image: url('../../store/images/baseline_arrow_back_ios_black_24dp.png');
}

.DayPicker-NavButton--next {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
  background-image: url('../../store/images/baseline_arrow_forward_ios_black_24dp.png');
}
