.main {
    width: 99%;

    h3 {
        margin-left: 1rem;
    }

    h6 {
        margin: 1rem;
    }
}

// .caption {
//     width: 100%;
//     border: 1px solid green;
//     margin: 10rem;
// }

.stepBar {
    background-color: var(--background);
    height: 20px;
    width: 90%;
    border-radius: .8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.dot {
    color: white;
    height: 3rem;
    width: 3rem;
}

.step,
.stepSelected {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    &:last-child {
        border-radius: 0 .8rem .8rem 0;
    }

    &:first-child {
        border-radius: .8rem 0 0 .8rem;
    }
}

.step {
    background: var(--background);
}

.stepSelected {
    background: var(--primary-accent);

}