.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h5 {
        margin: 1rem;
    }
}

.checkCircle {
    color: var(--primary-accent);
    height: 5rem;
    width: 5rem;
}