body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 1rem;
}

button {
  border-radius: .2rem;
  background: #249BE5;
  color: white;
  border: 1px solid #249BE5;
  padding: 1rem;
  margin: .5rem;
  text-transform: capitalize;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}