:root {
  --primary-accent: #249be5;
  --disabled-accent: #acd9f5;
  --dark-grey: #595959;
  --success: #287d3c;
  --background: #e5e5e5;
  --transition: all 0.5s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
button {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}
h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

caption {
  font-size: 12px;
}

.caption {
  margin: 1rem;
  font-size: 12px;
  width: 90%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 1rem;
}

.button {
  border-radius: 0.2rem;
  background: #249be5;
  color: white;
  border: 1px solid #249be5;
  padding: 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
  font-size: 18px;
  width: 15rem;
}

button:hover {
  cursor: pointer;
}

.logo {
  height: 3rem;
  width: 3rem;
  padding-right: 1rem;
}

.body-text {
  text-align: center;
}
